.image-container {
  position: relative;
  display: inline-block;
}

.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  border: none;
  width: 40px;
  height: 40px;
  background: transparent;
}

/* .nav {
  background-color: #e8e9ed;
  position: sticky;
  top: 0px;
  width: 100%;
  height: 80px;
  z-index: 1000;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
  height: 150px;
  width: 150px;
}

.nav-logo:hover {
  cursor: pointer;
}

.nav .nav-content {
  max-width: 900px;
  padding: 0rem 3rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.nav-item {
  display: inline;
  margin-left: 2rem;
  color: #333;
}

.nav-item:hover {
  color: black;
  cursor: pointer;
}

.nav-item > .active {
  border-bottom: 1px solid #333;
}

.section {
}

.section-dark {
  background: #1c2c4c;
  color: #a4aab7;
}

.section-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
}

.sectionImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
} */
